---
---

<label
	for="furiganaToggle"
	class="flex items-center cursor-pointer select-none text-dark dark:text-white gap-2"
>
	<span>Furigana</span>
	<div class="relative">
		<input
			type="checkbox"
			id="furiganaToggle"
			class="peer sr-only"
		/>
		<div
			class="block h-8 rounded-full dark:bg-dark-2 bg-gray-3 w-14"
		></div>
		<div
			class="absolute w-6 h-6 transition bg-white rounded-full dot dark:bg-dark-4 left-1 top-1 peer-checked:translate-x-full peer-checked:bg-primary"
		></div>
	</div>
</label>

<script>
	const toggle = document.getElementById('furiganaToggle') as HTMLInputElement;
	
	// Load saved preference
	toggle.checked = localStorage.getItem('furiganaEnabled') === 'true';
	
	toggle.addEventListener('change', () => {
		localStorage.setItem('furiganaEnabled', toggle.checked.toString());
		// You can add additional logic here to show/hide furigana
	});
</script>